
.content-container {
  display: flex;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.shops {
  height: 100vh;
  min-width: 200px;
  margin-top: 8px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product-item {
  width: 18rem;
  margin: 8px;
  position: relative;
  .btn-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all 0.2s;
  }
  &:hover .btn-close {
    visibility: visible;
    opacity: 1;
  }
}

.product-item__img {
  max-width: 286px;
  height: 180px;
  object-fit: contain;
}

.product-item__description {
  height: 42px;
}

.cart {
  display: flex;
}

.cart-button {
  height: 44px;
  min-width: 220px;
}

.cart-list {
  margin-bottom: 20px;
}

.cart-details {
  flex: 1 1 40%;
}

.cart-content {
  flex: 1 1 60%;
}

.cart-item {
  
}

.cart-item__content {
  display: flex;
  flex-direction: row;
}

.cart-item__img {
  width: 143px;
  max-height: 90px;
  object-fit: contain;
}

.cart-item__quantity {
  display: flex;
  flex-direction: row;
}

.cart-item__close-img {
  cursor: pointer;
}

.cart-total {
  text-transform: uppercase;
  font-weight: 600;
}

.cart-footer {
  margin: 20px 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}